dist: trusty
language: php

env:
  global:
    - COMPOSER_ARGS="--no-interaction"
    - MAGENTO2_RELEASES_FILE=${TRAVIS_BUILD_DIR}/.bin/compatible-shop-releases.txt
    - SHOP_SYSTEM_UPDATE_COMMIT="Update latest shop releases"
    - MANUAL_UITEST_TRIGGER_COMMIT="Test my build"
    - PATCH_RELEASE=patch
    - MINOR_RELEASE=minor
    - MAJOR_RELEASE=major
    - MAGENTO2_COMPATIBILITY_FILE=${TRAVIS_BUILD_DIR}/.bin/new-shop-releases.txt

jobs:
  # these stages are allowed to fail
  allow_failures:
    - stage: phraseapp-check-if-in-sync
    - stage: acceptance-test
      env:
        - GATEWAY=API-TEST
        - MAGENTO2_RELEASE_VERSION=1
        - ALLOW_FAIL=1
    - stage: acceptance-test
      env:
        - GATEWAY=API-TEST
        - MAGENTO2_RELEASE_VERSION=1
        - LATEST_EXTENSION_RELEASE=1
        - ALLOW_FAIL=1
  include:
    - php: 7.1
      if: env(PHRASEAPP_PULL) != '1' AND type != cron AND commit_message !~ env(SHOP_SYSTEM_UPDATE_COMMIT) AND commit_message !~ env(MANUAL_UITEST_TRIGGER_COMMIT)
    - stage: get-latest-shop-release-versions
      if: type = cron
      php: 7.1
      install: skip
      before_script: skip
      script: bash .bin/get-latest-shop-release-versions.sh
      after_script: skip
      after_failure: skip

    - &acceptance-test
      stage: acceptance-test
      #   run this stage on pull request if head branch name contains one of these words (patch, major, minor)
      #   or when build triggered ad-hoc with special commit message
      #   tests will use extension version = branch which originated pull request
      #   or branch which was defined in ad-hoc trigger in Travis UI
      if: (type = pull_request AND (head_branch =~ env(PATCH_RELEASE) OR head_branch =~ env(MINOR_RELEASE) OR head_branch =~ env(MAJOR_RELEASE))) OR (commit_message =~ env(MANUAL_UITEST_TRIGGER_COMMIT))
      php: 7.1
      env:
        - GATEWAY=API-TEST
        - MAGENTO2_RELEASE_VERSION=1
      install:
        #   check if files are same or not
        - cmp --silent ${MAGENTO2_RELEASES_FILE} ${MAGENTO2_COMPATIBILITY_FILE} && export COMPATIBILITY_CHECK=0 || export COMPATIBILITY_CHECK=1
        #   check from which file to take versions
        - if [[ ${COMPATIBILITY_CHECK}  == "0" ]]; then export MAGENTO2_VERSION=$(awk "NR==${MAGENTO2_RELEASE_VERSION} {print; exit}" ${MAGENTO2_RELEASES_FILE}); else export MAGENTO2_VERSION=$(awk "NR==${MAGENTO2_RELEASE_VERSION} {print; exit}" ${MAGENTO2_COMPATIBILITY_FILE}); fi
        #   get latest release shop extension version from SHOPVERSIONS file
        - export LATEST_RELEASED_SHOP_EXTENSION_VERSION=`jq .[0].release SHOPVERSIONS`
        - echo "Testing with Magento2 ${MAGENTO2_VERSION} version."
        - bash .bin/remove-composer-lock-file.sh
        - travis_retry composer require --dev $COMPOSER_ARGS phpunit/phpunit ^5.7
        - travis_retry composer require --dev $COMPOSER_ARGS codeception/codeception:^2.5
        - travis_retry composer install $COMPOSER_ARGS
      script: bash .bin/run-ui-tests.sh
      after_script: skip
      after_success:
        - bash .bin/upload-logs-and-notify.sh
        - bash .bin/update-shop-release-versions.sh
      after_failure:
        - bash .bin/upload-logs-and-notify.sh fail
    #   run this stage on pull request if head branch name contains one of these words (patch, major, minor)
    #   tests will use extension version = branch which originated pull request
    - <<: *acceptance-test
      if: (type = pull_request AND (head_branch =~ env(MAJOR_RELEASE)))
      env:
        - GATEWAY=API-TEST
        - MAGENTO2_RELEASE_VERSION=2
    #   run this stage on pull request if head branch name contains one of these words (patch, major, minor)
    #   tests will use extension version = branch which originated pull request
    - <<: *acceptance-test
      if: (type = pull_request AND (head_branch =~ env(MAJOR_RELEASE)))
      env:
        - GATEWAY=API-TEST
        - MAGENTO2_RELEASE_VERSION=3
    #   run this stage when shop system updated with latest shop extension release version
    #   tests will use latest released extension version
    - <<: *acceptance-test
      # when commit message contains string "Update latest shop releases"
      if: commit_message =~ env(SHOP_SYSTEM_UPDATE_COMMIT)
      env:
        - GATEWAY=API-TEST
        - MAGENTO2_RELEASE_VERSION=1
        # will check latest released extension version with latest shop version
        - LATEST_EXTENSION_RELEASE=1
        # if this stage fails, it will not fail the whole build
        - ALLOW_FAIL=1
    - <<: *acceptance-test
      # when commit message contains string "Update latest shop releases"
      if: commit_message =~ env(SHOP_SYSTEM_UPDATE_COMMIT)
      env:
        # will check master branch with latest shop version
        - GATEWAY=API-TEST
        - MAGENTO2_RELEASE_VERSION=1
        # if this stage fails, it will not fail the whole build
        - ALLOW_FAIL=1

    - stage: phraseapp-pull
      if: env(PHRASEAPP_PULL) = '1'
      language: ruby
      ruby: 2.5.3
      before_install: skip
      install:
        - travis_retry gem install bundler -v 2.0.1
        - travis_retry bundle install
      script:
        - .bin/rake phraseapp:ci_update
      after_script: skip

    - stage: phraseapp-check-if-in-sync
      if: type != cron AND type = pull_request
      language: ruby
      ruby: 2.5.3
      before_install: skip
      install:
        - travis_retry gem install bundler -v 2.0.1
        - travis_retry bundle install
      script:
        - .bin/rake phraseapp:ci_check_if_in_sync
      after_script: skip

    - stage: trigger-white-labelling
      if: tag IS present AND type = push
      language: php
      php: 7.1
      before_install: skip
      install:
        - rvm install 2.5.3
        - travis_retry gem install bundler -v 2.0.1
      before_script:
        - bash .bin/check-release-notes-exist.sh
      script:
        - export TMPDIR=/tmp/wirecard
        - git clone -b master --depth 1 https://$WIRECARD_CEE_GITHUB_TOKEN@github.com/$DEPLOYMENT_PROJECT $TMPDIR
        - cd $TMPDIR && travis_retry bundle install
        - bin/rake trigger_build
      after_script: skip

install:
  - travis_retry composer require --dev $COMPOSER_ARGS satooshi/php-coveralls:^1.0
  - travis_retry composer install $COMPOSER_ARGS
  - composer show

script:
  - composer test-coverage
  - composer cs-check

after_script:
  - composer upload-coverage

notifications:
  email: false
  slack:
    rooms:
      secure: YI7sUrfMyKyJD60kElGkO7yBDkGEh+069yS8bFAIDUST7s48J+dDP/r2G9dN9oQwhs9hvNjpNytpZDPys838T+Z0mNtFZ9Wu022hV3MpbKUuMl7L9P0MQQmxjg4bKyKK3Hl9tPrZ3UsKRlwIUmRGGYQ7cjs4zumorqs19YsB3X+WnnxAmmYB3kHQYfNKgVnmcG2QHJyx5KaLZ0EsWynSHXkYb8bVCtdlbQFNnpChvGHPprZrHAszLCYnlU7AEZGdbuk17oIfXO9Wjuu1GV8iJ2VgKkTCzW4FBC5eHJyZezojPFUm1I5tvdihRZuyBekVGOF23J6pvHLqPx77clT+/Vn6T+UMDuh1INZ0LKt4UOU42oEDKGblWZx2VYWcHwfEK+ckJWZkT9EBfg/CMenJly2tbtBj6++XNvxgGEDn6XqKIEatcb7X/aiy4f8BPXa3/pzgZAlvzZbGGqHFNZPAlgcXBBXgbaC7VvMhvi6Z5AG5ylKzPS5GCD95ozPC+cGv0234TBJus5oZck4qNiT53IUQ7Ta+OGVB0Mea105VAoQI0I7YcgaqW6c4h2YTmnuuQsIzAwPOrJ5TAinj8Z8mZ9C11tEcNF3Pgy1tOoG/YLurhOJm7v1ebotRb/DIeSHU8RfNatnDSSky4YS6Y8k2pQthdC9m7m2f2mJYuGdLjlM=
    template:
      - "%{repository}#%{build_number} (%{branch} : %{author}): %{message}"
      - "Change view : %{compare_url}"
      - "Build details : %{build_url}"
    on_success: change
    on_failure: change
