<?xml version="1.0"?>
<!--
/**
* Shop System Plugins - Terms of Use
*
* The plugins offered are provided free of charge by Wirecard Central Eastern Europe GmbH
* (abbreviated to Wirecard CEE) and are explicitly not part of the Wirecard CEE range of
* products and services.
*
* They have been tested and approved for full functionality in the standard configuration
* (status on delivery) of the corresponding shop system. They are under General Public
* License Version 2 (GPLv2) and can be used, developed and passed on to third parties under
* the same terms.
*
* However, Wirecard CEE does not provide any guarantee or accept any liability for any errors
* occurring when used in an enhanced, customized shop system configuration.
*
* Operation in an enhanced, customized configuration is at your own risk and requires a
* comprehensive test phase by the user of the plugin.
*
* Customers use the plugins at their own risk. Wirecard CEE does not guarantee their full
* functionality neither does Wirecard CEE assume liability for any disadvantages related to
* the use of the plugins. Additionally, Wirecard CEE does not guarantee the full functionality
* for customized shop systems or installed plugins of other vendors of plugins within the same
* shop system.
*
* Customers are responsible for testing the plugin's functionality before starting productive
* operation.
*
* By installing the plugin into the shop system the customer agrees to these terms of use.
* Please do not use the plugin if you do not agree to these terms of use!
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wirecard_elasticengine>
            <credentials>
                <base_url>https://api-test.wirecard.com</base_url>
                <http_user>70000-APITEST-AP</http_user>
                <http_pass>qD2wzQ_hrc!8</http_pass>
            </credentials>
            <settings>
                <default_currency>EUR</default_currency>
            </settings>
        </wirecard_elasticengine>
        <payment>
            <wirecard_elasticengine_paypal>
                <title>Wirecard PayPal</title>
                <active>1</active>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_void>0</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <model>PaypalFacade</model>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <merchant_account_id>2a0e9351-24ed-4110-9a1b-fd0fee6bec26</merchant_account_id>
                <secret>dbc5a498-9a66-43b9-bf1d-a618dd399684</secret>
            </wirecard_elasticengine_paypal>
        </payment>
    </default>
</config>