<?xml version="1.0"?>
<!--
/**
 * Shop System Plugins:
 * - Terms of Use can be found under:
 * https://github.com/wirecard/magento2-ee/blob/master/_TERMS_OF_USE
 * - License can be found under:
 * https://github.com/wirecard/magento2-ee/blob/master/LICENSE
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_wirecard_elasticengine_creditcard">
        <observer name="wirecard_elasticengine_creditcard_gateway_data_assign" instance="Wirecard\ElasticEngine\Observer\CreditCardDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_wirecard_elasticengine_sepadirectdebit">
        <observer name="wirecard_elasticengine_sepadirectdebit_gateway_data_assign" instance="Wirecard\ElasticEngine\Observer\SepaDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_wirecard_elasticengine_ideal">
        <observer name="wirecard_elasticengine_ideal_gateway_data_assign" instance="Wirecard\ElasticEngine\Observer\IdealDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_wirecard_elasticengine_giropay">
        <observer name="wirecard_elasticengine_giropay_gateway_data_assign" instance="Wirecard\ElasticEngine\Observer\GiropayDataAssignObserver" />
    </event>
    <event name="payment_method_assign_data_wirecard_elasticengine_ratepayinvoice">
        <observer name="wirecard_elasticengine_ratepay_gateway_data_assign" instance="Wirecard\ElasticEngine\Observer\RatepayDataAssignObserver" />
    </event>
</config>