<!--
/**
 * Shop System Plugins:
 * - Terms of Use can be found under:
 * https://github.com/wirecard/magento2-ee/blob/master/_TERMS_OF_USE
 * - License can be found under:
 * https://github.com/wirecard/magento2-ee/blob/master/LICENSE
 */
-->

<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
        <!-- ko if: getLogoUrl() -->
        <img data-bind="attr: {'src': getLogoUrl()}, title: getTitle(), alt: getTitle()" />
        <!-- /ko -->
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form data-bind="attr: {id: getCode() + '-form'}" class="form">

            <fieldset data-bind="attr: {class: 'fieldset payment items ideal ' + getCode(), id: 'payment_form_' + getCode()}">

                <div class="field bankBic required">
                    <label data-bind="attr: {for: getCode() + '_bankBic'}" class="label">
                        <span><!-- ko i18n: 'bic'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="payment[giropay_bankBic]" class="input-text" value=""
                               data-bind="attr: { autocomplete: off, id: getCode() + '_bankBic',
                                    title: $t('bic'),
                                    'data-container': getCode() + '-bankBic',
                                    'data-validate': JSON.stringify({'required':true})},
                              value: bankBic"/>
                    </div>
                </div>

            </fieldset>
        </form>
        <br>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {'id': getCode() + '_submit', title: $t('place_order')}
                        ">
                    <span data-bind="i18n: 'place_order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
