<!--
/**
 * Shop System Plugins - Terms of Use
 *
 * The plugins offered are provided free of charge by Wirecard  AG and are explicitly not part
 * of the Wirecard AG range of products and services.
 *
 * They have been tested and approved for full functionality in the standard configuration
 * (status on delivery) of the corresponding shop system. They are under General Public
 * License Version 3 (GPLv3) and can be used, developed and passed on to third parties under
 * the same terms.
 *
 * However, Wirecard AG does not provide any guarantee or accept any liability for any errors
 * occurring when used in an enhanced, customized shop system configuration.
 *
 * Operation in an enhanced, customized configuration is at your own risk and requires a
 * comprehensive test phase by the user of the plugin.
 *
 * Customers use the plugins at their own risk. Wirecard AG does not guarantee their full
 * functionality neither does Wirecard AG assume liability for any disadvantages related to
 * the use of the plugins. Additionally, Wirecard AG does not guarantee the full functionality
 * for customized shop systems or installed plugins of other vendors of plugins within the same
 * shop system.
 *
 * Customers are responsible for testing the plugin's functionality before starting productive
 * operation.
 *
 * By installing the plugin into the shop system the customer agrees to these terms of use.
 * Please do not use the plugin if you do not agree to these terms of use!
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div id="sepaMandate" display="none">
    </div>
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
        <!-- ko if: getLogoUrl() -->
        <img data-bind="attr: {'src': getLogoUrl()}, title: getTitle(), alt: getTitle()" />
        <!-- /ko -->
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form data-bind="attr: {id: getCode() + '-form'}" class="form">

            <fieldset data-bind="attr: {class: 'fieldset payment items sepa ' + getCode(), id: 'payment_form_' + getCode()}">

                <input type="hidden" name="payment[sepa_mandateId]" class="input-text" value=""
                       data-bind="attr: { autocomplete: off, id: getCode() + '_mandateId',
                                    'data-container': getCode() + '-mandateId',
                                    'data-validate': JSON.stringify({'required':true})},
                              value: mandateId"/>
                <div class="field accountFirstName required">
                    <label data-bind="attr: {for: getCode() + '_accountFirstName'}" class="label">
                        <span><!-- ko i18n: 'First Name'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="payment[sepa_accountFirstName]" class="input-text" value=""
                               data-bind="attr: { autocomplete: off, id: getCode() + '_accountFirstName',
                                    title: $t('First Name'),
                                    'data-container': getCode() + '-accountFirstName',
                                    'data-validate': JSON.stringify({'required':true})},
                              value: accountFirstName"/>
                    </div>
                </div>

                <div class="field accountLastName required">
                    <label data-bind="attr: {for: getCode() + '_accountLastName'}" class="label">
                        <span><!-- ko i18n: 'Last Name'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="payment[sepa_accountLastName]" class="input-text" value=""
                               data-bind="attr: { autocomplete: off, id: getCode() + '_accountLastName',
                                    title: $t('Last Name'),
                                    'data-container': getCode() + '-accountLastName',
                                    'data-validate': JSON.stringify({'required':true})},
                              value: accountLastName"/>
                    </div>
                </div>

                <!-- ko if: hasBankBic() -->
                <div class="field bankBic">
                    <label data-bind="attr: {for: getCode() + '_bankBic'}" class="label">
                        <span><!-- ko i18n: 'Bank BIC'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="payment[sepa_bankBic]" class="input-text" value=""
                               data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_bankBic',
                                    title: $t('Bank Bic'),
                                    'data-container': getCode() + '-bankBic'},
                                    value: bankBic "/>
                    </div>
                </div>
                <!-- /ko -->

                <div class="field bankAccountIban required">
                    <label data-bind="attr: {for: getCode() + '_bankAccountIban'}" class="label">
                        <span><!-- ko i18n: 'Bank Account IBAN'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" name="payment[sepa_bankAccountIban]" class="input-text" value=""
                               data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_bankAccountIban',
                                    title: $t('Bank Account Iban'),
                                    'data-container': getCode() + '-bankAccountIban',
                                    'data-validate': JSON.stringify({'required':true})},
                              value: bankAccountIban "/>
                    </div>
                </div>

            </fieldset>
        </form>
        <br>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: beforePlaceOrder,
                        attr: {title: $t('Place Order')}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
