<?xml version="1.0"?>
<!--
/**
 * Shop System Plugins:
 * - Terms of Use can be found under:
 * https://github.com/wirecard/magento2-ee/blob/master/_TERMS_OF_USE
 * - License can be found under:
 * https://github.com/wirecard/magento2-ee/blob/master/LICENSE
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wirecard_elasticengine" translate="label" sortOrder="10">
            <label>module_display_name</label>
        </tab>
        <section id="wirecard_elasticengine" translate="label" type="text" sortOrder="2999" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>seperator-top</class>
            <label>module_display_name</label>
            <tab>sales</tab>
            <resource>Magento_Sales::config_sales</resource>
            <group id="terms" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>terms_of_use</label>
                <comment>
                    <![CDATA[
                        <b>Terms of use</b>
                        <br/><br/>
                        The plugins offered are provided free of charge by Wirecard AG and are explicitly not part of the Wirecard AG range of products and services.
                        <br/><br/>
                        They have been tested and approved for full functionality in the standard configuration (status on delivery) of the corresponding shop system. They are under General Public License Version 3 (GPLv3) and can be used, developed and passed on to third parties under the same terms.
                        <br/><br/>
                        However, Wirecard AG does not provide any guarantee or accept any liability for any errors occurring when used in an enhanced, customized shop system configuration.
                        <br/><br/>
                        Operation in an enhanced, customized configuration is at your own risk and requires a comprehensive test phase by the user of the plugin.
                        <br/><br/>
                        Customers use the plugins at their own risk. Wirecard AG does not guarantee their full functionality neither does Wirecard AG assume liability for any disadvantages related to the use of the plugins. Additionally, Wirecard AG does not guarantee the full functionality for customized shop systems or installed plugins of other vendors of plugins within the same shop system.
                        <br/><br/>
                        Customers are responsible for testing the plugin's functionality before starting productive operation. By installing the plugin into the shop system the customer agrees to these terms of use. Please do not use the plugin if you do not agree to these terms of use! Uninstalling the plugin may result in the loss of data.
                        <br/><br/>
                        <b>Legal notice</b>
                        <br/><br/>
                        Wirecard AG will only be made liable for specifications and functions as described within this documentation. No warranty whatsoever can be granted on any alterations and/or new implementations as well as resulting diverging usage not supported or described within this documentation.
                    ]]>
                </comment>
                <field id="dummy" type="hidden" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1"/>
            </group>
            <group id="support_request" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>heading_title_support</label>
                <field id="button_contact_support" translate="label" type="button" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Wirecard\ElasticEngine\Block\Widget\SupportRequestButton</frontend_model>
                </field>
            </group>
            <group id="settings" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>text_settings</label>
                <field id="public_key" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>config_merchant_public</label>
                    <comment>public_certificate_desc</comment>
                </field>
            </group>
        </section>
        <section id="payment">
            <include path="Wirecard_ElasticEngine::system/paypal.xml" />
            <include path="Wirecard_ElasticEngine::system/creditcard.xml" />
            <include path="Wirecard_ElasticEngine::system/cc_vault.xml" />
            <include path="Wirecard_ElasticEngine::system/sepadirectdebit.xml" />
            <include path="Wirecard_ElasticEngine::system/sepacredit.xml" />
            <include path="Wirecard_ElasticEngine::system/sofortbanking.xml" />
            <include path="Wirecard_ElasticEngine::system/ideal.xml" />
            <include path="Wirecard_ElasticEngine::system/ratepayinvoice.xml" />
            <include path="Wirecard_ElasticEngine::system/alipayxborder.xml" />
            <include path="Wirecard_ElasticEngine::system/poi_pia.xml" />
            <include path="Wirecard_ElasticEngine::system/paybybankapp.xml" />
        </section>
    </system>
</config>
