<?xml version="1.0"?>
<!--
/**
 * Shop System Plugins:
 * - Terms of Use can be found under:
 * https://github.com/wirecard/magento2-ee/blob/master/_TERMS_OF_USE
 * - License can be found under:
 * https://github.com/wirecard/magento2-ee/blob/master/LICENSE
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wirecard_elasticengine" translate="label" sortOrder="10">
            <label>module_display_name</label>
        </tab>
        <section id="wirecard_elasticengine" translate="label" type="text" sortOrder="2999" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>seperator-top</class>
            <label>module_display_name</label>
            <tab>sales</tab>
            <resource>Magento_Sales::config_sales</resource>
            <group id="support_request" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>heading_title_support</label>
                <field id="button_contact_support" translate="label" type="button" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Wirecard\ElasticEngine\Block\Widget\SupportRequestButton</frontend_model>
                </field>
            </group>
            <group id="settings" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>text_settings</label>
                <field id="public_key" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>config_merchant_public</label>
                    <comment>public_certificate_desc</comment>
                </field>
            </group>
        </section>
        <section id="payment">
            <include path="Wirecard_ElasticEngine::system/paypal.xml" />
            <include path="Wirecard_ElasticEngine::system/creditcard.xml" />
            <include path="Wirecard_ElasticEngine::system/cc_vault.xml" />
            <include path="Wirecard_ElasticEngine::system/sepadirectdebit.xml" />
            <include path="Wirecard_ElasticEngine::system/sepacredit.xml" />
            <include path="Wirecard_ElasticEngine::system/sofortbanking.xml" />
            <include path="Wirecard_ElasticEngine::system/ideal.xml" />
            <include path="Wirecard_ElasticEngine::system/ratepayinvoice.xml" />
            <include path="Wirecard_ElasticEngine::system/alipayxborder.xml" />
            <include path="Wirecard_ElasticEngine::system/poi_pia.xml" />
            <include path="Wirecard_ElasticEngine::system/paybybankapp.xml" />
        </section>
    </system>
</config>
