<?xml version="1.0"?>
<!--
/**
* Shop System Plugins - Terms of Use
*
* The plugins offered are provided free of charge by Wirecard Central Eastern Europe GmbH
* (abbreviated to Wirecard CEE) and are explicitly not part of the Wirecard CEE range of
* products and services.
*
* They have been tested and approved for full functionality in the standard configuration
* (status on delivery) of the corresponding shop system. They are under General Public
* License Version 2 (GPLv2) and can be used, developed and passed on to third parties under
* the same terms.
*
* However, Wirecard CEE does not provide any guarantee or accept any liability for any errors
* occurring when used in an enhanced, customized shop system configuration.
*
* Operation in an enhanced, customized configuration is at your own risk and requires a
* comprehensive test phase by the user of the plugin.
*
* Customers use the plugins at their own risk. Wirecard CEE does not guarantee their full
* functionality neither does Wirecard CEE assume liability for any disadvantages related to
* the use of the plugins. Additionally, Wirecard CEE does not guarantee the full functionality
* for customized shop systems or installed plugins of other vendors of plugins within the same
* shop system.
*
* Customers are responsible for testing the plugin's functionality before starting productive
* operation.
*
* By installing the plugin into the shop system the customer agrees to these terms of use.
* Please do not use the plugin if you do not agree to these terms of use!
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wirecard_elasticengine" translate="label" sortOrder="10">
            <label>Wirecard Elastic Engine</label>
        </tab>
        <section id="wirecard_elasticengine" translate="label" type="text" sortOrder="2999" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>seperator-top</class>
            <label>Wirecard Elastic Engine</label>
            <tab>sales</tab>
            <resource>Magento_Sales::config_sales</resource>
            <group id="terms" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Information regarding Wirecard Shop Plugins</label>
                <comment>
                    <![CDATA[
                        <b>Terms of use</b>
                        <br/><br/>
                        The plugins offered are provided free of charge by Wirecard Central Eastern Europe GmbH (abbreviated to Wirecard CEE) and are explicitly not part of the Wirecard CEE range of products and services.
                        <br/><br/>
                        They have been tested and approved for full functionality in the standard configuration (status on delivery) of the corresponding shop system. They are under General Public License Version 2 (GPLv2) and can be used, developed and passed on to third parties under the same terms.
                        <br/><br/>
                        However, Wirecard CEE does not provide any guarantee or accept any liability for any errors occurring when used in an enhanced, customized shop system configuration.
                        <br/><br/>
                        Operation in an enhanced, customized configuration is at your own risk and requires a comprehensive test phase by the user of the plugin.
                        <br/><br/>
                        Customers use the plugins at their own risk. Wirecard CEE does not guarantee their full functionality neither does Wirecard CEE assume liability for any disadvantages related to the use of the plugins. Additionally, Wirecard CEE does not guarantee the full functionality for customized shop systems or installed plugins of other vendors of plugins within the same shop system.
                        <br/><br/>
                        Customers are responsible for testing the plugin's functionality before starting productive operation. By installing the plugin into the shop system the customer agrees to these terms of use. Please do not use the plugin if you do not agree to these terms of use! Uninstalling the plugin may result in the loss of data.
                        <br/><br/>
                        <b>Legal notice</b>
                        <br/><br/>
                        Wirecard CEE will only be made liable for specifications and functions as described within this documentation. No warranty whatsoever can be granted on any alterations and/or new implementations as well as resulting diverging usage not supported or described within this documentation.
                    ]]>
                </comment>
                <field id="dummy" type="hidden" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1"/>
            </group>
            <group id="credentials" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credentials</label>
                <field id="base_url" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Base Url</label>
                    <comment>The elastic engine base url. (e.g. https://api.wirecard.com)</comment>
                </field>
                <field id="http_user" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Http User</label>
                </field>
                <field id="http_pass" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Http Password</label>
                </field>
                <field id="button_test_credentials" translate="label" type="button" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Wirecard\ElasticEngine\Block\Widget\TestCredentialsButton</frontend_model>
                </field>
            </group>
            <group id="settings" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="default_currency" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Currency</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                </field>
                <field id="public_key" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public Key</label>
                    <comment>If a public certificate (format x.509 PEM) is provided, it will be used for ssl certificate pinning for notifications from Wirecard servers</comment>
                </field>
            </group>
        </section>
        <section id="payment">
            <group id="wirecard_elasticengine_paypal" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Wirecard Elastic Engine PayPal</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="merchant_account_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant Account ID</label>
                </field>
                <field id="secret" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment Action</label>
                    <source_model>Wirecard\ElasticEngine\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>
                <field id="send_shopping_basket" translate="label" type="select" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Shopping Basket</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="send_descriptor" translate="label" type="select" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Descriptor</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
            <group id="wirecard_elasticengine_creditcard" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Wirecard Elastic Engine Credit Card</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="merchant_account_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant Account ID</label>
                </field>
                <field id="secret" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                </field>
                <field id="three_d_merchant_account_id" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>3D Merchant Account ID</label>
                </field>
                <field id="three_d_secret" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>3D Secret Key</label>
                </field>
                <field id="ssl_max_limit" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SSL Max Limit</label>
                    <comment>The maximum order amount in your default currency to initialize SSL transactions.</comment>
                </field>
                <field id="three_d_min_limit" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>3D Min Limit</label>
                    <comment>The minimum order amount in your default currency to initialize 3D transactions.</comment>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="90" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment Action</label>
                    <source_model>Wirecard\ElasticEngine\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
            <group id="wirecard_elasticengine_maestro" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Wirecard Elastic Engine Maestro</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="merchant_account_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant Account ID</label>
                </field>
                <field id="secret" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                </field>
                <field id="three_d_merchant_account_id" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>3D Merchant Account ID</label>
                </field>
                <field id="three_d_secret" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>3D Secret Key</label>
                </field>
                <field id="ssl_max_limit" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SSL Max Limit</label>
                    <comment>The maximum order amount in your default currency to initialize SSL transactions.</comment>
                </field>
                <field id="three_d_min_limit" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>3D Min Limit</label>
                    <comment>The minimum order amount in your default currency to initialize 3D transactions.</comment>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="90" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment Action</label>
                    <source_model>Wirecard\ElasticEngine\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>
